#planta_tools_forms_container {
	overflow: hidden;
    margin: 40px 0 20px;
}

@media (min-width: 1024px) {
	#planta_tools_forms_container {
		width: 90%;
	}
}

.planta_tools_form_slot {
	margin-bottom: 5px;
	float: left;
	clear: left;
}

input.planta_tools_forms_id,
input.planta_tools_forms_submit_url,
input.planta_tools_forms_post_type,
input.planta_tools_forms_category,
input.planta_tools_forms_email,
select.planta_tools_forms_post_type,
input.planta_tools_forms_confirmation_email,
input.planta_tools_forms_confirmation_email_subject  {
	float: left;
	position: relative;
	margin-right: 20px;
	margin-top: 10px;
	width: 270px;
	max-width: 100%;
}

.planta_tools_forms_force_print,
.planta_tools_forms_async_load {
	float: left;
	position: relative;
}

input.planta_tools_forms_force_print,
input.planta_tools_forms_async_load {
	margin: 2px 15px 0px 10px;
}

a.planta_tools_forms_remove_slot {
	display: inline-block;
	margin: 10px 20px 0px 0px;
	padding: 4px 8px;
	text-align: center;
	width: 100px;
	text-decoration: none;
	border: 1px solid #0071a1;
	border-radius: 3px;
	box-sizing: border-box;
}


textarea.planta_tools_forms_html,
textarea.planta_tools_forms_confirmation_html,
textarea.planta_tools_forms_custom_css {
	float: left;
	width: 100%;
	margin-top: 20px;
	clear: both;
	min-height: 150px;
}
